.chartjs-render-monitor{height:113px!important;}
.arr1{margin-top: 40px !important;}
.arr2{margin-top: 125px !important;padding-right: 15px;} 
.arr3{margin-top: 7px !important;padding-right: 15px;} 